body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(https://images.unsplash.com/photo-1557804506-669a67965ba0) no-repeat center center fixed;
    background-size: cover;
}
form {
    width: 30%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
h3 {
    display: block;
    margin-top: 3px;
    margin-bottom: 10px;
}
img {
    display: block;
    margin: 0 auto 10px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: normal;
}
.vertical-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="email"],
input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}
.sign p {
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #784B84;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #702963;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}